{% extends "base.html" %}
{% load static i18n %}
{% load projects %}

{% block content %}
<br>
<div class="row justify-content-center">
  <h1>{% trans "Dashboard" %}</h1>
</div>
<hr>
<div class="row justify-content-around">
  <!-- Projects panel -->
  <div class="card w-50">
    <div class="card-header alert-info">
      <h4>{% trans "Projects" %}</h4>
    </div>
    <div class="card-body">
      {% get_projects %}
    </div>
  </div>
  <!-- Due Dates panel -->
  <div class="card w-25">
    <div class="card-header alert-info">
      <h4>{% trans "Upcoming Due Dates" %}</h4>
    </div>
    <div class="card-body">

    </div>
  </div>
</div>
<br>
<div class="row justify-content-around">
  <!-- Issues panel -->
  <div class="card w-25">
    <div class="card-header alert-info">
      <h4>{% trans "Issues" %}</h4>
    </div>
    <div class="card-body">

    </div>
  </div>
</div>

{% endblock content %}
