/* =========================
       ANIMATED UI ITEMS
   ========================= */

/* ===== REVEAL ITEM delay ===== */
.reveal-item {
  opacity: 0;
  transition: all 1.5s ease-out;
  transform: scale(1.15);

  &--is-visible {
    opacity: 1;
    transform: scale(1);
  }
}

/* ===== TOGGLE SWITCH Input ===== */

/* sample html code:
    <section>
      <label for="toggle" class="toggle-switch">
        <input type="checkbox" id="toggle" class="toggle-switch__input" />
        <span class="toggle-switch__button"></span>
      </label>
    </section>
*/

/* Set base settings to override body settings */
.toggle-switch {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}

  .toggle-switch__input {
    display: none;
  }

  .toggle-switch__button {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    line-height: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #b96666;
    border: solid 1px #6f0000;
    color: white;
    width: 80px;
    height: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  /* Default position of toggle switch */
  .toggle-switch__button:before {
    position: absolute;
    top: 5px;
    left: 40px;
    right: auto;
    content: "off";
    display: inline-block;
    height: 20px;
    border-radius: 20px;
    padding: 0 3px;
    background: #6f0000;
    color: white;
    transition: all 0.3s ease;
  }

  /* Change background of button when input is checked/true */
  .toggle-switch__input:checked + .toggle-switch__button {
    background: #7fb17f;
    border: solid 1px #004c00;
  }

  /* Change position and content of :before when true*/
  .toggle-switch__input:checked + .toggle-switch__button:before {
    left: 5px;
    content: "on";
    padding: 0 3px;
    background: #004c00;
    color: white;
  }

/* ===== SLIDING PANELS ===== */

/* sample html code:
    <section>
      <h4>Slide from Bottom</h4>
      <div class="slide slide-bottom">
        <div class="slide-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <img src="https://placeimg.com/300/200/architecture">
      </div>
    </section>
*/

.slide {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.slide img {
  display: inline-block;
  vertical-align: middle;

  @media #{$medium-and-up} {
    transform: scale(1);
    min-height: 18.75rem;
  }
}

.slide-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: space-around;
  text-align: center;
  padding: 0 1rem;
  box-sizing: border-box;
  background: rgba($primary-color-0, 0.9);
  color: #fff;
  transition: transform 0.3s ease;
}

.slide-content h2 {
  order: 1;
  align-self: flex-start;
  margin: 0;
  text-align: start;
  font-weight: normal;
  font-size: 1.7rem;
}

.slide-content p {
  order: 2;
  align-self: flex-end;
  color: #fff !important;
  font-size: 1em;
  margin-top: .5em;
}

.slide-content a {
  order: 3;
  align-self: center;
  color: $secondary-color-02;
}

.slide:hover .slide-content {
  transform: translate(0, 0);
}

/* ANIMATION DIRECTIONS */
.slide-top .slide-content {transform:translate(0, -100%);}

.slide-right .slide-content {transform:translate(100%, 0);}

.slide-bottom .slide-content {transform:translate(0, 100%);}

.slide-left .slide-content {transform:translate(-100%, 0);}

.slide-left-top .slide-content {transform:translate(-100%, -100%);}

.slide-left-bottom .slide-content {transform:translate(-100%, 100%);}

/* ===== TOOLTIPS ===== */

/* sample html code:
  <section>
    <h4>Tooltip on Right</h4>
    <div class="tooltip right" title="Tooltip on right!">
      Hover over me
    </div>
  </section>
*/

/* Style the element */
.tooltip {
  position: relative;
  height: 60px;
  width: 250px;
  /* background: var(--primary-color-0); */
  /* color: white; */
  text-align: center;
  line-height: 60px;
  font-size: 18px;
  margin: 0 auto;
}

  /* Global animation settings */
  .tooltip::before {
    position: absolute;
    z-index: 2;
    display: none;
    width: 200px;
    padding: 10px;
    font-size: 0.8em;
    line-height: 1.4em;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    content: attr(title);
  }

  .tooltip::after {
    position: absolute;
    z-index: 1;
    display: none;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    content: "";
  }

  .tooltip:hover::before,
  .tooltip:hover::after {
    display: inline-block;
  }

    /* Tooltip above */
    .tooltip.top::before {
      bottom: calc( 100% + 5px );
      left: 50%;
      transform: translateX(-50%);
    }

    .tooltip.top::after {
      bottom: 100%;
      left: 50%;
      border-top-color: rgba(0, 0, 0, 0.8);
      border-bottom-width: 0;
      transform: translateX(-50%);
    }

    /* Tooltip to the right */
    .tooltip.right::before {
      top: 50%;
      left: calc( 100% + 5px );
      transform: translateY(-50%);
    }

    .tooltip.right::after {
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      border-left-width: 0;
      border-right-color: rgba(0, 0, 0, 0.8);
    }

    /* Tooltip below */
    .tooltip.bottom:before {
      top: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
    }
    .tooltip.bottom:after {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-top-width: 0;
      border-bottom-color: rgba(0, 0, 0, 0.8);
    }

    /* Tooltip to the left */
    .tooltip.left:before {
      top: 50%;
      right: calc(100% + 5px);
      transform: translateY(-50%);
    }
    .tooltip.left:after {
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
      border-right-width: 0;
      border-left-color: rgba(0, 0, 0, 0.8);
    }

/* ===== SPINNER - Circle ===== */

/* sample html code (no content):
    <section>
      <div class="spinner-circle"></div>
    </section>
*/

.spinner-circle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  height: 64px;
  border-radius: 64px;
}

  .spinner-circle:before {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    content: " ";
    clip: rect(0, 64px, 32px, 0);
    box-shadow: inset -5px 0 0 5px currentColor;
    color: #323b40;
    /* Rotation occurs smoothly (linear) */
    animation: rotator 1s infinite linear;
  }

/* ===== SPINNER - Dots ===== */

.spinner-dots {
  position: relative;
  margin: 32px;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #323b40;
}

  .spinner-dots::before, .spinner-dots::after {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: inherit;
    content: "";
  }

  .spinner-dots::before {
    transform: translateX(-120%);
    transform-origin: 32px 50%;
    animation: orbit-1 1s infinite linear;
  }

  .spinner-dots::after {
    transform: translateX(120%);
    transform-origin: -16px 50%;
    animation: orbit-2 1s infinite linear;
  }


/* ===== Keyframes for Spinners ===== */

@keyframes rotator {
  0% {
    transform: rotate(-180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
  50% {
    transform: rotate(0deg);
    box-shadow: inset -1px 0 0 1px currentColor;
  }
  100% {
    transform: rotate(180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
}

@keyframes orbit-1 {
  0% {transform: translateX(-120%) rotate(180deg);}
  30% {transform: translateX(-120%) rotate(0deg);}
  70% {transform: translateX(-120%) rotate(0deg);}
  100% {transform: translateX(-120%) rotate(-180deg);}
}

@keyframes orbit-2 {
  0% {transform: translateX(120%) rotate(180deg);}
  30% {transform: translateX(120%) rotate(0deg);}
  70% {transform: translateX(120%) rotate(0deg);}
  100% {transform: translateX(120%) rotate(-180deg);}
}
