{% extends "users/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block more-crumbs %}
  <li><a href="{% url 'users:detail' request.user.username %}">
      {{ request.user.username}}</a></li>
  <li>{% trans "Update" %}</li>
{% endblock more-crumbs %}

{% block content %}
  <br>
  <div class="row justify-content-center">
    <h1>{{ user.username }}</h1>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="card w-75 text-center">
      <div class="card-body alert-info">
        <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="button button-pill button-action">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
