{% extends "crudbuilder/base.html" %}
{% load i18n projects %}

{% block extra-crumbs %}
  <li class="">{% trans "Admin" %}</li>
  <li class="active">{% trans "Registered Cruds" %}</li>
{% endblock extra-crumbs %}

{% block main_content %}

<div class="container">
	<h3>{{view.title}}</h3>
  <hr/>

	<table class="table table-bordered table-condensed">
		<thead class="alert-info">
			<tr>
        <th>{% trans "Crud" %}</th>
        <th>{% trans "App" %}</th>
        <th>{% trans "Model" %}</th>
			</tr>
		</thead>
		<tbody>
      {% for key, crud in view.cruds %}
				<tr>
          {% with detail=key|crud_detail %}
            <td><a href="/crud/{{ detail.app|title|lower }}/{{detail.model|title|lower}}s/">{{crud|class_name}}</a></td>
            <td>{{ detail.app|title }}</td>
            <td>{{ detail.model|title }}</td>
          {% endwith %}
				</tr>
      {% endfor %}
		</tbody>
	</table>
</div>


{% endblock main_content %}
