{% extends "projects/base.html" %}
{% load static i18n %}

{% comment %}
{% block extra-css %}
  <!-- Import Google Icon Font -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
{% endblock extra-css %}
{% endcomment %}

{% block more-crumbs %}
  <li><a href="{% url 'projects:list' %}">{% trans "Projects" %}</a></li>
{% endblock more-crumbs %}


{% block content %}
  <div class="row justify-content-center">
    <h1>{% trans "My Projects" %}</h1>
  </div>
  <hr>
  <div class="row justify-content-around">
    {% for project in project_list %}
      <div class="col s12 l3">
        <div class="card-panel center">
          <h5>{{ project.name }}</h5>
          <a href="{% url 'projects:detail' project.slug %}"
             class="button button-action button-pill">
            {% trans "Visit" %}</a>
        </div>
      </div>
    {% empty %}
      <div class="noproject-wrapper">
        <h3 class="grey-text">{% trans "No projects yet." %}</h3>
      </div>
    {% endfor %}
  </div>
  <div class="row justify-content-center">
      <a href="{% url 'projects:add' %}" class="button button-large button-pill button-primary">
        <i class="fas fa-plus"></i>&nbsp;
        <span>{% trans "Add Project" %}</span>
      </a>
  </div>
  <br>

{% endblock content %}
