{% extends "projects/base.html" %}
{% load i18n %}

{% block extra-crumbs %}{% endblock extra-crumbs %}

{% block content %}
<div class="row">
  <h3 class="left">{% trans "projects:" %}&nbsp;
    <span class="bold">{{ project.name }}</span></h3>
</div>
<hr>
<section class="section section-stats">
  <div class="row">

    <div class="col s12 m12 14">
      <div class="card-panel">
        <h6 class="bold">{% trans "Total Budget" %}</h6>
        <h1 class="bold center">${{ project.budget }}</h1>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card-panel">
        <h6 class="bold">{% trans "Budget Remaining" %}</h6>
        {% if project.budget_left > 0 %}
          <h1 class="bold center blue-text">
            ${{ project.budget_left|floatformat:"0" }}</h1>
        {% elif project.budget_left == 0 %}
          <h1 class="bold center orange-text">
            ${{ project.budget_left|floatformat:"0" }}</h1>
        {% else %}
          <h1 class="bold center red-text">
            ${{ project.budget_left|floatformat:"0" }}</h1>
        {% endif %}
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card-panel">
        <h6 class="bold">{% trans "Total Transactions" %}</h6>
        <h1 class="bold center">{{ project.total_transactions }}</h1>
      </div>
    </div>

  </div>
</section>

<section class="section section-expenses">
  <div class="row">
    <button class="button button-pill button-action valign-wrapper modal-trigger" href="#expenseModal">
        <i class="fas fa-plus"></i>>&nbsp;
      {% trans "Add Expense" %}
    </button>
  </div>

  <ul class="z-depth-1">
    <li>
      <div class="header blue-grey lighten-4 z-depth-0 expense">
        <div class="row bold blue-grey-text text-darken-2">

          <div class="col 16">
            <h6 class="bold">{% trans "Expense Title" %}</h6>
          </div>

          <div class="col 13">
            <h6 class="bold">{% trans "Amount" %}</h6>
          </div>

          <div class="col 1">
            <h6 class="bold">{% trans "Category" %}</h6>
          </div>

          <a class="close-icon"><i class="fas fa-times"></i></a>

        </div>
      </div>
    </li>

    {% for expense in expense_list  %}
    <li>
        <div class="card-panel z-depth-0 expense">
          <div class="row">

            <div class="col 16">
              <span class="title">{{ expense.title }}</span>
            </div>

            <div class="col 13">
              <span class="title">${{ expense.amount }}</span>
            </div>

            <div class="col 1">
              <span class="title">{{ expense.category.name }}</span>
            </div>

            <a class="close-icon" onclick="deleteExpense(this)" data-id="{{ expense.id }}">
                <i class="fas fa-times" style="color:darkred;"></i>
            </a>

          </div>
        </div>
      </li>
    {% endfor %}


  </ul>
</section>

<div id="expenseModal" class="modal">
  <div class="modal-content">
    <h4>{% trans "Add Expense" %}</h4>

    <form method="POST">
      {% csrf_token %}
      <label class="left" for="title">{% trans "Title" %}</label>
      <input placeholder="expense title" type="text" id="title" name="title">

      <label class="left" for="amount">{% trans "Amount" %}</label>
      <input placeholder="0.00" type="text" id="amount" name="amount">

      <label class="left" for="category">{% trans "Category" %}</label>
      <select name="category">
        {% for category in category_list  %}
          <option>{{ category.name }}</option>
        {% endfor %}
      </select>

      <button type="submit" class="button button-action button-pill">
        {% trans "Add" %}</button>
    </form>
  </div>
</div>

<script>
  var elem = document.querySelector('.modal')
  var instance = M.Modal.init(elem)

  var elem = document.querySelector('select')
  var instance = M.FormSelect.init(elem)

  function deleteExpense(e){

    let id = e.dataset.id
    e.closest('li').remove()

    fetch('', {
      method: 'DELETE',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({
        'id': id
      }),
      credentials: 'same-origin',
    })
  }
</script>

{% endblock content %}
