{% extends "crudbuilder/base.html" %}
{% load i18n crudbuilder %}
{% load render_table from django_tables2 %}

{% block breadcrumb %}
  <ul class="breadcrumb">
      <li class="active">{{pluralized_model_name|title}}</li>
  </ul>
{% endblock breadcrumb %}

{% block main_content %}

<div class='container'>
  <div class="row justify-content-center">
    <h1>{{pluralized_model_name|title}}</h1>
  </div>
  <hr>
  <div class="form-row justify-content-around">
    {% block actions %}
      <a class="button button-pill button-action" href="{% url app_label|add:'-'|add:custom_postfix_url|add:'-create' %}"><i class="glyphicon glyphicon-plus-sign"></i> Add {{actual_model_name|title}}</a>
    {% endblock actions %}
	  <form class="form-inline pull-right" role="form" action="." method="GET">
      <div class="form-group">
        <input type="text" class="form-control" name="search" placeholder="Search">
        <button type="submit" class="button">{% trans "Search" %}</button>
      </div>
    </form>
  </div>
	<br/>

	{% render_table table_objects "crudbuilder/widgets/tables/tables.html" %}

</div>


{% comment %}
	<b>APP :</b> {{app_label}}<br/>
	<b>MODEL : </b>{{actual_model_name}}<br/>
	<b>PLURIZED MODEL :</b> {{pluralized_model_name}}<br/>

	<h4>Using normal queryset</h4>
	{{object_list}}
{% endcomment %}

{% endblock main_content %}
